<!DOCTYPE html>
<html lang="en" xmlnp:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
	<meta charset="UTF-8" />
    <title th:text="${title}">Send OTP</title>
  </head>
  <body>
    <section>
    	<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    	<!--<div th:if="${session.message}" class="alert-danger" role="alert">
                    		<p th:text="${session.message}"></p>
                    	</div>-->
                        <div class="container my-4">
                        	<h3 class="text-center">Enter New Password</h3>	
                        	<form th:action="@{/changePassword-process}" method="post">
                        		<div class="input-group mt-3">
                        			<input name="newPassword" type="password" class="form-control" placeholder="Enter new password here" />
                        		</div>
                        		<div class="container text-center mt-3">
                        			<button class="btn btn-primary">Change Password</button>
                        		</div>
                        	</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
  </body>
</html>